.mentor-bracket {
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    color: black;
}

.upper-bracket {
    border: 2px solid black;
    background: white;
    padding: 18px;
    margin-bottom: 15px;
}

.upper-bracket h1 {
    margin: 0 0 10px 0;
    font-size: 28px;
}

.upper-bracket p {
    margin: 0 0 12px 0;
    font-size: 12px;
    opacity: 0.8;
}

.inner-bracket {
    border: 2px solid black;
    background: #b0d9ff;
    padding: 12px;
    font-size: 12px;
}

.av-sessions {
    border: 2px solid black;
    background: white;
    padding: 18px;
}

.av-sessions h2 {
    margin: 0 0 14px 0;
    font-size: 20px;
}

.lower-big-bracket {
    border: 2px solid #222;
    margin-bottom: 15px;
    background: white;
}

.session-bracket {
    padding: 14px;
}


.name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    border-bottom: 1px dashed #222;
    padding-bottom: 8px;
}


.boxes-infos {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.date,
.time,
.duration,
.cost {
    border: 2px solid black;
    padding: 10px;
    width: 25%;
    font-size: 11px;
    text-align: center;
}

.duration p,
.cost p {
    margin: 0;
}

.lower-boxes {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-direction: column;
}


.profile {
    background-color: #F1F4F5;
}


.available-button {
    background: beige;
    color: rgb(12, 107, 48);
}

.inactive {
    color: black;
    background: rgb(255, 243, 205);
    cursor: not-allowed;
    border: 2px solid rgb(160, 132, 53);
}

/* ===== Sessions ===== */

.sessions {
    margin-bottom: 16px;
    background: white;
}

.sessions h3 {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px dashed #222;
    padding-bottom: 10px;
}

.sessions .button {
    margin: 12px 0;
}

.sessions .button button {
    border: 2px solid #222;
    padding: 10px 14px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    /*background: #f2f2f2;*/
}

.pending-button {
    background: #fff3bf;
}

.rejected-button {
    background: #f8d7da;
}

.canceled-button {
    background: #e2e3e5;
}

.confirmed-button {
    background: #d4edda;
}

.sessions .boxes-infos {
    margin-top: 10px;
}


.sessions .duration p,
.sessions .cost p {
    margin: 0;
}